.add-client {
    display: flex;
    justify-content: center;
    align-items: center;

    &__main-btn {
        margin: 40px 0;
        padding: 10px 60px;
        background-color: transparent;
        color: $col-brand;
        border-width: 2px;
        
    }
    &__modal {
        text-align: center;
    }
    &__modal-header {
        background-color: $col-brand;
        color: $col-background;
        margin-bottom: 40px;
    }
    &__results-table {
        margin-top: 60px;
    }
}