.page-wrapper {
    min-height: 100vh;
    padding-bottom: $footer-heigth;
    position: relative;
}
body,
h4 {
    font-family: $font-copy;
    font-size: 16px;
}
h1,
h2,
h3 {
    font-family: $font-headline;
    font-weight: 300;
}

// Buttons
.btn {
    font-family: $font-headline;
    border-radius: 0;
}
.btn-primary {
    background-color: $col-brand;
    border-color: $col-brand;

    &:hover,
    &:focus,
    &:active {
        background-color: darken($col-brand, 10%);
    }
}
.btn-danger {
    background-color: $col-highlight;

}

// Tables
thead {
    color: $col-brand;
}

// Modals
.modal-header {
    background-color: $col-brand;
    color: $col-background;
    margin-bottom: 40px;
}